body {
	/* background: #ce37fb; fondo */
	background: rgb(184,184,193);
	background: radial-gradient(circle, rgba(184,184,193,1) 47%, rgba(95,101,98,1) 84%, rgba(50,51,52,1) 97%);
	display: flex;
	justify-content: center; /* centrado vertical*/
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

*{
	font-family: sans-serif; /*tipo de letrs*/
	box-sizing: border-box; /* caje del formulario*/
}

form {
	width: 450px;
	border: 2px solid #707070f1; /* border del formulario*/
	padding: 30px;
	background: rgb(231, 223, 223);
	border-radius: 15px;/* circunferencia de las esquinas del formuario*/
}

h2 {
	text-align: center; /* centrado de la palabra login*/
	margin-bottom: 40px;/* separacion del titutlo del login*/
}


input {
	display: block;
	border: 2px solid #878888;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}
label {
	color: rgba(101, 100, 100, 0.857);
	font-size: 18px;
	padding: 15px;

}

button {
	float: left;
	background: #9b9e9e;
	padding: 10px 50px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
	margin-left: 120px;
}
button:hover{
	opacity: .5;
}
